@{
    ViewData["Title"] = "Team Members";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />
<h3 style="text-align:center">Group D</h3>
<h2 style="text-align:center">Alex Braic, Eoghan Butler,  Sean Keenan</h2>
